 body {
     font-family: 'Fuzzy Bubbles', cursive;
 }

 h1 {
     font-size: 60px;
 }

 .color {
     color: orange;
 }

 .demon {
     color: red;
 }

 section {
     display: flex;
     align-items: center;
 }

 .mama {
     width: 50%;
     padding-left: 10%;
 }

 .mama picture {
     width: 50%;

 }

 #die {
     color: red;
 }