body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0%;
}

.dhong {
    font-size: 60px;
    color: white;
    text-align: right;
}

.old {
    color: white;
    background-image: linear-gradient(rgb(255, 12, 52), blue);
    padding: 5% 10%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

}

.bolod {
    font-size: 40px;
    color: blue;
    text-align: center;
}

h2 {
    color: brown;
}

.color {
    color: orange;
}


.flex-display {
    display: flex;
    align-items: center;

}

.mama {
    width: 80%;
    padding-left: 5%;

}

.mami {
    width: 60%;
    padding-left: 10%;
    border-radius: 5%;

}

#die {
    color: red;
}

.button1 {
    text-decoration: none;
    background-image: linear-gradient(red, green);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
}

.backpic {
    background-image: url(picturers/Screenshot\ 2022-10-24\ 012108.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.rong {
    font-size: 60px;
    padding-top: 10%;
}

.big-dream {
    background-image: url(picturers/Screenshot\ 2022-10-24\ 110540.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0%;

    border: 7px solid blue;

}

.button2 {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.871), purple);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    align-items: flex-end;
    margin-left: 150px;
    border: 2px solid red;


}